.order > .title {
	font-size: 2rem;
	color: var(--main-color);
	margin: 2rem 0 0 0;
}

.order > .date {
	font-size: 1.25rem;
	color: var(--bs-gray);
	font-style: italic;
	margin-bottom: 1rem;
}

.order .category-price-row {
	font-weight: bold;
}

.order .total-price-row > td {
	font-weight: bold;
	font-size: 1.25rem;
}

.order .total-price-row > td:last-child {
	color: var(--bs-danger);
}