<form method="post" action="{{ path('add_product_to_basket', {'id': product.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('add_to_basket' ~ product.id) }}">
    <button class="btn btn-main btn-block-sm mt-4">Ajouter au panier</button>
</form>
