<form method="post" action="{{ path('basket_remove_item', {id: item.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('basket_remove_item' ~ app.user.id) }}">
    <button type="submit" class="btn btn-main">
        Confirmer
    </button>
</form>