{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block stylesheets %}
    <link href="/resources/css/orders.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="order">
        <h1 class="title">Mes commandes</h1>

		{% for order in app.user.orders %}
            {{ include('assets/orderCard.html.twig', {order: order}) }}
        {% else %}
            <h6>Aucune commandes pour le moment.</h6>
        {% endfor %}
    </div>
{% endblock %}
