{% extends 'base.html.twig' %}

{% block title %}Commande {{ order.reference }}{% endblock %}

{% block stylesheets %}
    <link href="/resources/css/basket.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="basket">
        <h1 class="title">Commande {{ order.reference }}</h1>

        
    </div>
{% endblock %}
